@import "./variables.scss";
@import "./paginas/mainBibliografia.scss";
@import "./paginas/mainHome.scss";
@import "./paginas/mainEquipo.scss";
@import "./paginas/mainIngreso.scss";
@import "./paginas/mainCarreras.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://media.revistagq.com/photos/604b2f499fc97c95e82c1c14/16:9/pass/2101913.jpg);
  background-size: cover;
  background-position: auto;

  .fondo-header {
    background-image: url(https://lh3.googleusercontent.com/2rBX0mJVfjDcp0fYTiGWKgD4-lq4KvePYDmXz_2aNiioJ2QMxhrzZhCcjTXRkTaIm4XTK_MMAUy-qo4XWhKlaj60wWcnjAeeVKcQtHx8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.title{
  color: var($primary-text);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}
.contBiblio{
  margin-top: 46pc;
  margin-left: 6%;
  margin-right: 6%;
}
.seccion1 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .imagenes {
    margin-left: auto;
  }

  .seccion1-hijo {
    margin-right: auto;
  }
}

.carrusel {
  margin-bottom: 30%;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: arial;
  margin-top: 80px;
  color: var($primary-text);
  text-shadow: 0px 0px 6px black;
}

.content-all {
  width: 210px;
  margin: auto;
  perspective: 800px;
  position: relative;
  margin-top: 50px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 18s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:hover {
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
  width: 100%;
  transition: all 300ms;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
}
  .imageHeader {
    justify-content: flex-start;
  }
  .textHeader {
    justify-content: flex-end;
    margin: 2% 3% 0;
  }
.titleBio{
  margin-top: 1rem;
  color: azure;
  font-size: 3rem;
}
.textBio{
  text-align: center;
  color: azure;
  font-size: 1.2rem;
}
.redesBiblio {
  display: grid;

  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 29px;
  width: 218px;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
  margin: auto;
  margin-top: 50%;
}
.iconImg{
    width: 150%;
}
// .cardHome {
//   flex-direction: column;
//   color: red;
//   .cardImg {
//     margin: 1% 1% 4% 28%;
//     border-radius: 100%;
//   }
//   .cardTitle {
//     text-align: center;
//   }
//   .cardText {
//     text-align: center;
//     margin-top: 4%;
//   }
// }

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
