@import "./variables.scss";
@import "./paginas/mainBibliografia.scss";
@import "./paginas/mainHome.scss";
@import "./paginas/mainEquipo.scss";
@import "./paginas/mainIngreso.scss";
@import "./paginas/mainCarreras.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://media.revistagq.com/photos/604b2f499fc97c95e82c1c14/16:9/pass/2101913.jpg);
  background-size: cover;
  background-position: auto;

  .containerHeader {
    display: flex;
    align-items: center;
  }
  
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
  }
  
  .burger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-input:checked ~ .menu {
    transform: translateX(0);
  }
  
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    background-color: #333;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  @media screen and (min-width: 768px) {
    .containerHeader {
      justify-content: space-between;
    }
  
    .menu {
      position: static;
      width: auto;
      transform: translateX(0);
      background-color: transparent;
      padding: 0;
      transition: none;
    }
  
    .menu ul {
      display: flex;
    }
  
    .menu li {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
  

  .fondo-header {
    background-image: url(https://lh3.googleusercontent.com/2rBX0mJVfjDcp0fYTiGWKgD4-lq4KvePYDmXz_2aNiioJ2QMxhrzZhCcjTXRkTaIm4XTK_MMAUy-qo4XWhKlaj60wWcnjAeeVKcQtHx8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .responsive{color:azure;
    display: grid;
    grid-template-columns:1fr ;
    
  }
}
.title{
  color: var($primary-text);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}
.contBiblio{
  margin-top: 46pc;
  margin-left: 6%;
  margin-right: 6%;
}
.seccion1 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .imagenes {
    margin-left: auto;
  }

  .seccion1-hijo {
    margin-right: auto;
  }
}

.carrusel {
  margin-bottom: 30%;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: arial;
  margin-top: 80px;
  color: var($primary-text);
  text-shadow: 0px 0px 6px black;
}

.content-all {
  width: 210px;
  margin: auto;
  perspective: 800px;
  position: relative;
  margin-top: 50px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 18s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:hover {
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
  width: 100%;
  transition: all 300ms;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
}
  .imageHeader {
    justify-content: flex-start;
  }
  .textHeader {
    justify-content: flex-end;
    margin: 2% 3% 0;
  }
.titleBio{
  margin-top: 1rem;
  color: azure;
  font-size: 3rem;
}
.textBio{
  text-align: center;
  color: azure;
  font-size: 1.2rem;
}
.redesBiblio {
  display: grid;

  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 29px;
  width: 218px;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
  margin: auto;
  margin-top: 50%;
}
.iconImg{
    width: 150%;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

body {
  background-image: url(https://media.revistagq.com/photos/604b2f499fc97c95e82c1c14/16:9/pass/2101913.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
}

.fondo-header {
  background-image: url(https://static.wikia.nocookie.net/esstarwars/images/b/b5/Site-background-light/revision/latest?cb=20230429033528);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reproductor {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 183px;
  justify-content: center;
  border-radius:12px
}
.containerHeader {
  display: flex;
  justify-content: space-between;
}
.imageHeader {
  justify-content: flex-start;
}
.textHeader {
  justify-content: flex-end;
  margin: 2% 3% 0;
}

@keyframes bucle-opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.redes {
  display: grid;

  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 29px;
  width: 218px;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
  margin: auto;
  margin-top: 10%;
}
.iconImg {
  width: 150%;
}
.pie {
  margin-top: 10%;
  color: azure;
  background-color: #3d4850;
  height: 10%;
}

a {
  color: azure;
  border-radius: 10%;
}

.portada {
  border-radius: 20px;
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.responsive {
  color: azure;
}

.col-lg-4 {
  border: solid lightseagreen;
  border-radius: 20px;
  background-color: #3d4850;
  opacity: 60%;
}
.cardBg {
  color: azure;
  margin-top: 10%;
  animation: bucle-opacity 5s infinite;
}

.cardHome {
  background-color: rgba(128, 128, 128, 0.491) !important;
  border: 5px solid rgba(0, 128, 128, 0.404) !important;
  margin: 1% !important;
  border-radius: 20px !important;
}
.cardImg {
  margin: 3% 0 4% 30%;
  border-radius: 100%;
  width: 140px;
  height: 140px;
}
.cardTitle {
  text-align: center;
  color: azure !important;
}
.cardText {
  text-align: center;
  margin: 4%;
  color: azure !important;
}
.cardButton {
  text-align: center;
  margin: 0 20% 5% 20%;
  background-color: #5e6f7b79 !important;
}

/* fin de estilo pagina index */

/* inicio de pagina de carreras */
.imagen-carrusel {
  width: 500px;
}
.carreras {
  margin: 2% 9%;
}
.titleCarrera {
  color: azure;
  text-align: center;
  font-size: 3rem;
}
.subtitleCarrera {
  color: azure;
  text-align: center;
  font-size: 2rem;
}
.textCarrera {
  color: azure;
  margin-top: 1rem;
  line-height: 30px;
  font-size: 1.3rem;
  text-align: justify;
}
.videoCarreras {
  margin: 10% 0 0 10%;
  height: 90%;
  width: 60%;
}
.imgCarrera {
  width: 100%;
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wikis {
  text-decoration: none;
  color: teal;
  font-size: 1.5rem;
}
.divider {
  color: azure;
}
/* fin de inicio de carrera */
/*--------------------------------------------------------------------------------------------------------------------*/
/* inicio de la pagina ingreso */

.contenedor-ingreso {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 28px 55px;
  height: 360px;
  margin: 30px;

  border: solid aqua;
  padding: 40px;
  background-color: transparent;
  opacity: 100%;
}

.div1 {
  border-radius: 35px;
  border: solid;
  height: 136px;
  display: grid;
  text-align: -webkit-center;
  background-color: transparent;
  color: azure;
}

.seccion4b {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 81px;
  /* margin: 10px 1px; */
  gap: 47px;
  text-align: -webkit-center;
}

.titulos4 {
  color: azure;
  display: grid;
  margin: auto;
  gap: 15px;
  width: 260px;
  border: solid #973200;
  border-radius: 8px;
  background: cadetblue;
  border: solid lightseagreen;
  border-radius: 20px;
  background-color: #3d4850;
  opacity: 80%;
  animation: bucle-opacity 5s infinite;
}
@keyframes bucle-opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.textos4 {
  margin: auto;
  color: honeydew;
  display: flex;
  align-items: flex-start;
  padding: 91px;
  background: repeating-radial-gradient(black, transparent 100px);
}

.videos {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.video4 {
  margin: auto;
  color: honeydew;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  background: repeating-radial-gradient(black, transparent 100px);
width: 60%;
height: 90%;
}


/* fin pagina de ingreso */
/*--------------------------------------------------------------------------------------------------------------------*/
h3 {
  color: azure;
}

/*  pagina de equipos */
.content {
  margin: 0 5% 0 5%;
}
.dropSables {
  text-align: center;
  margin: 3% 0 3% 0;
  font-size: 1.5rem;
  font-family: monospace;
}
.select {
  background-color: #5766709b;
}
.imgSable {
  width: 80%;
  height: 100%;
  max-height: 250px;
}
.textConteiner {
  margin: 0% 10% 0 0;
}
.subTitleCard {
  margin-bottom: 2rem;
}
.textos {
  line-height: 40px;
}
.grid-contenedor .grid-container1 {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: cadetblue;
  margin-bottom: 37px;
  grid-row-end: inherit;
  align-content: center;
}
.botones :hover {
  background-color: teal;
  color: blue;
  width: fit-content;
}

.grid-container-hijo2 .botones {
  display: grid;
  align-items: center;
}

.grid-contenedor .grid-container-hijo2 {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: cadetblue;
  margin-bottom: 37px;
  grid-row-end: inherit;
  align-content: center;
  border-radius: 150px;
}

.grid-contenedor1 {
  border-radius: 150px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: cadetblue;
  margin-bottom: 37px;
  grid-row-end: inherit;
  align-content: center;
  align-items: center;
}

.imagendoble {
  border-radius: 150px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: cadetblue;
  margin-bottom: 37px;
  grid-row-end: inherit;
  align-content: center;
  align-items: center;
}
.textoverde {
  line-height: 30px;
}
.imgSableCristal {
  width: 80%;
  height: 100%;
  max-height: 250px;
  margin-left: 20%;
}
.grid-contenedor3 {
  width: 96%;
  margin: auto;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: cadetblue;
  margin-bottom: 37px;
  align-content: center;
  border-radius: 150px;
}

.grid-contenedor-hijo3 {
  width: 70%;
  margin: auto;
  margin-left: 25%;
}

.image {
  margin-left: auto;
}

.grid-contenedor4 {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: cadetblue;
  margin-bottom: 37px;
  align-content: center;
  border-radius: 150px;
}

.grid-contenedor4 .grid-contenedor-hijo4 {
  width: 200px;
  margin: auto;
}

.grid-contenedor5 {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: cadetblue;
  margin-bottom: 37px;
  align-content: center;
  border-radius: 150px;
}

.grid-contenedor5 .grid-contenedor-hijo5 {
  width: 200px;
  margin: auto;
}

.cristales {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  height: 140px;
  border-radius: 70px;
  margin-inline: auto;
  margin-bottom: 20px;
  border: solid azure;
  color: azure;
  align-content: space-around;
  justify-items: center;
}
.selectCont {
  margin: 5% 15% 0 15%;
}
.titleCris {
  text-align: center;
  margin-bottom: 2rem;
}
.labelCris {
  margin: 0 3% 0 3%;
}
.selectCris {
  margin: 150px;
  width: 60%;
}

/* fin de archivo css pagina de equipos */

/* media queries */

@media (max-width: 768px) {
  .col-md-5 {
    display: contents;
  }
  .videos-responsive {
    display: none;
   

  }

  .contenedor-ingreso {
    background-color: #3d4850;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    width: 50%;
    margin: auto;
    background: repeating-radial-gradient(red, transparent 100px);
  }

  .seccion4b {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    width: 50%;
    margin: auto;
    background: repeating-radial-gradient(blue, transparent 100px);
    margin-top: 30px;

  }

  .videos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    margin: auto;
  }

  .contenedor-primario {
    grid-template-columns: 1fr;
    display: grid;
    height: auto;
    font: menu;
  }

  .portada {
    margin: 0%;
  }

  h1 {
    margin: auto;
    display: none;
  }

  .video4 {
    margin: auto;
    margin-bottom: 46px;
  }
  .cardImg {
    margin: 3% 0 4% 17%;
  }
  #redes {
    margin-left: auto;
  }

  /* media de la segunda pagina */
  @media (max-width: 425px) {
    .titulos4 {
      border-radius: 35px;
      border: solid;
      height: 136px;
      display: grid;
      text-align: -webkit-center;
      background-color: transparent;
      color: azure;
    }
    .video4{display: none;}
    .reproductor {
      display: none;
    }

  .responsive {
    background: repeating-radial-gradient(black, transparent 100px);
  }

  .grid-contenedor {
    border-radius: 0%;
    margin: 0 5% 0 5%;
  }

  .grid-contenedor1 {
    border-radius: 0%;
    background: repeating-radial-gradient(#178d85, black 196px);
  }

  .grid-container-hijo2 {
    border-radius: 0%;
    background: repeating-radial-gradient(#178d85, black 196px);
  }

  .grid-contenedor2 {
    border-radius: 0%;
    display: flex;
    background: repeating-radial-gradient(#178d85, black 196px);
  }

  .grid-contenedor3 {
    border-radius: 0%;
    background: repeating-radial-gradient(#178d85, black 196px);
    display: block;
  }

  .grid-contenedor4 {
    border-radius: 0%;
    display: flex;
    background: repeating-radial-gradient(#178d85, black 196px);
  }

  .grid-contenedor5 {
    border-radius: 0%;
    display: flex;
    background: repeating-radial-gradient(#178d85, black 196px);
  }

  ul {
    height: 38px;
  }

  .cristales {
    border-radius: 37px;
    border: solid azure;
    margin-bottom: 10%;
  }
}
@media (max-width: 425px) {
  .cardImg {
    margin: 3% 0 4% 30%;
  }
  .grid-contenedor-hijo3{
    display: block;
  }
  .selectCont{
    display: none;
  }
  .seccion4b{
    margin: inherit;
  }
 
}
}